.modal-title {
  float: left;
}
.modal-body {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.modal-body > p {
  font-size: 14px;
  font-family: monospace;
  color: black;
  text-shadow: none;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 783px;
    margin: 1.75rem auto;
  }
}

.modal__error {
  width: 200px;
  height: 200px;
}
.modal__close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background-color: #fff;
  border: none;
}
.ReactModal__Content::-webkit-scrollbar {
  display: none;
}

.modal__hr {
  position: relative;
  margin-top: 1%;
}
.modal__header > img {
  max-height: 100px;
  max-width: 100px;
}
.modal__header {
  display: flex;
}
.modal__artist__details {
  margin-left: 5px;
}
