.table__background {
  height: fit-content;
  background-color: #360000;
  background-image: linear-gradient(to right, #d88b17, #6e6726);
}
.table__div {
  display: flex;
  justify-content: center;
}
p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  font-family: cursive;
  text-shadow: 0 0 14px #d88b17;
}
.table__table {
  display: flex;
  justify-content: center;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0;
  /* width: 60%; */
  table-layout: fixed;
  margin: 0 auto;
  min-width: fit-content;
  margin: 25px;
  /* box-shadow: 0 4px 8px 0 red, 0 4px 8px 0 red; */
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(237, 172, 141, 0.8);
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: left;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

tbody tr:hover {
  background-color: #d6d6d6;
}
.table__info {
  display: flex;
  flex-direction: column;
}
.table__title {
  font-size: small;
}
.table__album {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: 600;
}
.table__img__col {
  width: 15%;
}
.table__caption {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.table__caption > p {
  color: #eeeaf0;
  border-bottom: 3px double #ffffff;
}
.table__div__border {
  border: 5px double white;
  width: 60%;
}
.close {
  color: white;
  font-size: xxx-large;
  margin-right: 15px;
  opacity: 1;
}
.close:hover {
  color: #ffc766;
  outline: none;
}
