.app {
  background-image: url("https://www.teahub.io/photos/full/282-2823883_1920x1080-full-hd-1080p-guitar-wallpapers-hd-desktop.jpg");
  background-position: center;
  height: 100vh;
  background-size: auto;
}
